<script>
function UserAction() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("output").innerHTML = this.responseText;
        }
    };
    xhttp.open("GET", "http://127.0.0.1:5000/api/currenttime", true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send();

}
</script>
<div class="row">
    <div class="spaceholder col-lg-2 col-md-1">
    </div>
    <div class="jumbotron col-lg-8 col-md-10">
        <h1>AWH Clockwork Project</h1>
        <p class="lead">V @ViewData["Version"] on @ViewData["Runtime"]!</p>
        <canvas id="canvas" width="400" height="400">
        </canvas>
        <button class="btn btn-lg col-md-8" type="submit" onclick="UserAction()">Get the Time</button>
    </div>
    <div class="spaceholder col-lg-2 col-md-1">
    </div>
</div>


<p id="output"></p>

@section head {
    <link href="Content/index.css" rel="stylesheet">
    <script src="Scripts/index.js"></script>
}
