<script>

    $("document").ready(function(){
        AnalogClock.init();
        var time = new Date();
        AnalogClock.draw(time);
    })
        
    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("output").innerHTML = this.responseText;
                var time = parseTimeFromResponse(this.responseText);
                AnalogClock.draw(new Date(time));
            }
        };
        xhttp.open("GET", "http://127.0.0.1:5000/api/currenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

    function parseTimeFromResponse(response) {
        var time = JSON.parse(response).time;
        var date = new Date(Date.parse(time, "yyyy-MM-dd HH:mm z"));
        return date;
    }
    
</script>
<div class="row">
    <div class="spaceholder col-lg-2 col-md-1">
    </div>
    <div class="header row col-lg-7 col-md-9">
        <h1>AWH 
            <span class="secondary-header">Clockwork Project</span>
        </h1>
        <a href="#"><i class="fas fa-question-circle tertiary-header"></i></a>    
    </div>
    <div class="spaceholder col-lg-2 col-md-1">
    </div>
</div>
<div class="row">
    <div class="spaceholder col-lg-2 col-md-1">
    </div>
    <div class="jumbotron col-lg-8 col-md-10">
        <canvas id="canvas" width="400" height="400">
        </canvas>
        <button class="btn btn-lg col-md-8" type="submit" onclick="UserAction()">Get the Time</button>
    </div>
    <div class="spaceholder col-lg-2 col-md-1">
    </div>
</div>


<p id="output"></p>

@section head {
    <link href="Content/index.css" rel="stylesheet">
    <script src="Scripts/analogClock.js"></script>
    <script src="Scripts/index.js"></script>
}
