body {
    font-family: "Lucida Console";
}

h1 {
    font-size: 4rem;
}

.row {
    margin: 20px;
}
.jumbotron {
    text-align: center;
    color: #0e0b16;
    border-radius: 10
}

.btn {
    background-color: #4717f6;
    color: white;
    border-radius: 10;
    box-shadow: 0 1px #666;
    font-family: Arial Black;
}

.btn-lg {
    font-size: 2em;
}

.big-btn {
    width: 60%;
    padding: 10px;
    font-size: 2rem;
}

.btn:hover {
    background-color: #3606e5;
}

.btn:active {
    background-color: #3606e5;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

.header {
    font-family: Impact;
    color: #4717f6;
    padding: 0px;
    margin: 0px;
}

.secondary-header {
    color: #ffd100;
    font-family: Impact;
    font-size: 3rem
}

#about {
    cursor: pointer
}

.no-padding {
    padding: 0px;
}

.top-border {
    background-color: #4717f6;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.bottom-border {
    background-color: #4717f6;
    color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center
        
}

.table-hover tbody tr:hover td {
    background-color: #ffd100;
}

.page-request {
    cursor: pointer
}

.current-page {
    background-color: #ffd100;
    color: black;
    padding: 10px;
    border-radius: 20px;
}

#time-output {
    font-size: 1.5rem;
    padding: 10px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}